.container {
  border: 1px solid #007cb9;
  border-radius: 50px;
  padding: 10px 1px 30px;
  margin-bottom: 10px;
}
.partone {
  position: relative;

  border-radius: 300px 300px;
  text-align: center;
  padding: 40px 80px;
  display: block;
  margin-top: 30px;
  background-color: #e1e6f8;
  height: 400px;
}
.row {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.list {
  list-style-type: none;
}
Li:first-letter {
  text-transform: capitalize;
}
.col {
  border-radius: 40%;
  padding: 30px 200px;
}
.forcast {
  background-color: #e1e6f8;
  margin: 10px;
}
.fas {
  color: #007cb9;
}
.far {
  color: #007cb9;
}
p {
  text-align: center;
  text-decoration-line: inherit;
  font-family: "Merriweather", serif;
  font-size: 25px;
}
p:hover {
  color: #1abb9c;
}
.list {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.coded {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#displays {
  position: relative;
  top: -20px;
  font-weight: lighter;
  font-size: 20px;
}
#display strong {
  font-size: larger;
}
h2 {
  margin-left: 10px;
}
#chooseCity {
  font-weight: bolder;
  font-size: 26px;
}
#icon {
  background-color: #fdffcd;
  border: 2px solid #007cb9;
  border-radius: 40px;
  padding: 1px;
  width: 100px;
}
#current-location-button {
  background-color: #d9bfe1;
  border: 1px solid #86b7fe;
}
#button-addon2 {
  border: 1px solid #86b7fe;
  margin-left: 20px;
}
#city-input {
  border: 1px solid white;
}
